.nav-container {
    display: flex;
     gap: 20px;
      flex-direction: row;
          flex-wrap: wrap;

}
 .card {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 20px;
}
